.menuheader {
    display: flex;
    color: white; 
    
    justify-content: space-evenly;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    width: 100vw;

    background-color: rgba(255, 255, 255, 0.5);

    position: fixed;
    top: 0;
    left: 0;
    margin-top: 2%;
}
.menuheader2{
    display: flex;
    color: white; 
    
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    width: 100vw;

    background-color: rgba(255, 255, 255, 0.5);

    position: fixed;
    top: 0;
    left: 0;
    margin-top: 2%;  
}

.menuheaderMvl{
    display: none;
}

.menuheader .nav-links{
    list-style: none;
    font-weight: 600;
    
}

.menuheader .nav-links li{
    display: inline-block;
    padding: 0 20px;
    margin-top: 20px;
    color: black;    
}

.menuheader .nav-links li a{
    color: black;   
}

.menuheader .nav-links li a:hover{
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.1em;
}

.logout{
    border: none;
    background-color: transparent;
    color: black;
    font-weight: 600;    
}

.logout:hover{
    text-decoration: underline;
    font-size: 1.1em;
}

  /*Boto de back*/
.backButton{   
    
    display: none;
  }

  .bbuttn{    
    color: blue;
    border: none;
  }

  @media (max-width: 430px) {
     
    .backButton{
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .menuheader{
        display: none;
    }
    
    .menuheaderMvl{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        
        background-color: rgba(255, 255, 255, 0.5);
        width: 100vw;

        position: fixed;
        top: 0;
        left: 0;
        margin-top: 2%;
        
    }

    .nav-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        list-style: none;
        
      }

      .iconos {
        flex: 1;
        text-align: center;                
      }

      .iconos a {
        display: block;
        font-size: 24px; 
        color: black;
      }

      .iconos a:hover{
          color: #83F0C4;             
      }

     
}