#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; 
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Login i register */
.Login{
  border: solid 1px;
  border-radius: 50px;
  padding: 50px;
}

.login-field{  
  padding: 20px;
}

.login1{
  color: blue;
  text-decoration: underline;
}

.login1:hover{
  cursor: pointer;
}