@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; 
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

body{
  background-image: url('https://images5.alphacoders.com/353/353018.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

}

/*Map*/

.colocaMapa{
  display:flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.leaflet-container{
  position: absolute;
  height: 70vh;
  width: 70%;
}

.btnlogin:hover{
  cursor: pointer;
}

.regis:hover{
  cursor: pointer;
}

.lgnCont{
  background-color: rgba(255, 255, 255, 0.425);

}

.localitza{
  position: fixed;
  bottom: 0;
  left: 0;
}
